<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="d1">
        <div class="d1" style="width: 100%; height: 50px; background-color: blue;"></div>
        <div class="d3" style="background-color: rgb(173, 19, 119);">h</div>
        <div class="d4" style="background-color: rgb(255, 0, 0);">7</div>
        <div class="d5" style="background-color: rgb(255, 55, 0);">4</div>
    </div>
</body>
</html>