{% extends "base.html" %}

{% block title %}Download File | KITE{% endblock %}

{% block header_title %}DOWNLOAD FILE{% endblock %}

{% block page_title %}Download File{% endblock %}

{% block subtitle %}Click the button to download your file.{% endblock %}

{% block svg_animation %}{% endblock %}

{% block content %}
<div class="button-wrap" style="text-align: center;">
    <button type="button" class="button" onclick="window.location.href='{{ url_for('download') }}'">
        Click Here
    </button>
    <button type="button" class="button" onclick="window.location.href='{{ url_for('upload') }}'">
        Back to details
    </button>
</div>
{% endblock %}