{% extends "base.html" %}

{% block title %}Login | KITE{% endblock %}

{% block header_title %}LOGIN{% endblock %}

{% block page_title %}Login{% endblock %}

{% block subtitle %}SELF-APPRAISAL{% endblock %}

{% block content %}
<form action="{{ url_for('login') }}" method="POST" autocomplete="off">
    <label for="username">User ID:</label>
    <input type="text" id="username" name="username" placeholder="Enter your username" autocomplete="off">
    
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="Enter password">
    
    <input type="submit" id="submit" value="Log in">
    
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
</form>
{% endblock %}